<!DOCTYPE html>
<html>
<head>
  <title>Codeclan Galler</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <div class="container">
      <div class="box admin"><a href="/admin">Admin Access</a></div>
      <div><br></br></div>
      <div class="box home"><a href="/">Home</a></div>
      <div class="box artists"><a href="/artists">All Artists</a></div>
      <div class="box exhibits"><a href="/exhibits">All Exhibits</a></div>
      <div class="box types"><a href="/types">All Art Types</a></div>
      <div class="box categories"><a href="/categories">All Art Categories</a></div>
    </div>
  </nav>
  <div>
    <%= yield %>
  </div>
</body>
</html>
