<style>
nav.public {
  display: none;
}
</style>

<p>The Relation has been added</p>

<div class="button">
<form method="get" action="/admin">
<input type="submit" value="Home"/>
</form>
<form method="get" action="/admin/relations">
<input type="submit" value="Relations"/>
</form>
