<style>
nav.public {
  display: none;
}
</style>

<h1>Relations</h1>

<table>
  <tr>
    <th>Exhibit</th>
    <th></th>
    <th>Category</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% for relation in @relations %>
  <tr>
    <td><%= relation.exhibit.title%></td>
    <td>|</td>
    <td><%= relation.category.category%></td>
    <td>
      <form method="get" action="/admin/relations/<%= relation.id%>/edit">
        <input type="submit" value="Modify Relation"/>
      </form>
    </td>
    <td>
      <form method="post" action="/admin/relations/<%= relation.id%>/delete">
        <input type="submit" value="Delete Relation"/>
      </form>
    </td>
  </tr>
  <%end%>
</table>

<div class="button">
  <form method="get" action="/admin/relations/new">
    <input type="submit" value="New Relation"/>
  </form>
</div>
