<style>
nav.public {
  display: none;
}
</style>

<br></br>
  <form method="post" action="/admin/relations">
    <select id="exhibit_id" name="exhibit_id">
      <%for exhibit in @exhibits%>
      <option value="<%=exhibit.id%>"><%=exhibit.title%></option>
      <%end%>
    </select>
    <select id="category-select" name="category_id">
      <%for category in @categories%>
      <option value="<%=category.id%>"><%=category.category%></option>
      <%end%>
    </select>
    <div class="button">
    <input type="submit" value="Add Relation"/>
  </div>
</form>
