<style>
nav.public {
  display: none;
}
</style>

<form method="post" action="/admin/categories/<%= @exhibit.id%>/add">

  <% for category in @categories %>
  <input type="checkbox" name="check_list[]" value="<%=category.id%>"><%=category.category%><br>

  <% end %>
  <input type="submit" value="Add Category">
</form>
