

<style>
nav.public {
  display: none;
}
</style>

<p>The Categories have been added to the Exhibit</p>

<div class="button">
<form method="get" action="/admin">
<input type="submit" value="Home"/>
</form>
<form method="get" action="/admin/exhibits">
<input type="submit" value="Exhibits"/>
</form>
