<h1>Categories</h1>

<table>
  <tr>
    <th>Category</th>
    <th></th>
    <th>Exhibit Count</th>
  </tr>

  <% for category in @categories %>
  <tr>
    <td><%= category.category%></td>
    <td>|</td>
    <td><a href="/exhibits/category/<%= category.id %>"><%= category.exhibits.count%></td>
  </tr>
  <%end%>

</table>
