<style>
nav.public {
  display: none;
}
</style>

<br></br>
<form method="post" action="/admin/categories">
  <label for="category">Category:</label>
  <input id="category" type="text" name="category">

<br></br>
  <input type="submit" value="Add Category"/>
</form>
