header {
  height: 5%;
  width: 100%;
  background-color: #172815;
  text-align: center;
  color: white;
  border-top: 5px;
}

header a:link {
  font-size: 35px;
}

header a:visited {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
  color: blue;

}

header a:active {
  text-decoration: underline;
}

nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 12%;
  left: 0;
  background-color: #3E5622;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 5px;
}

body {
  background-color: #172815;
}

img {
  max-width: 100%;
}

nav.a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

nav.admin p {
  color: white;
}

.main {
  background-color: #709255;
  text-align: left;
  min-width: 500px;
  position:absolute;
  top: 12%;
  left:160px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;
  font-family: Palatino;
  padding: 25px;
  /* display: flex; */
}

.visit_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.exhibit_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  max-width: 100%;
}

.individual {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.visit {
  width: 40%;
  padding: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin: 5px;
}

.exhibit {
  width: 40%;
  padding: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin: 5px;
  display: grid;
}

.text {
  margin: 10px;
  border-bottom: 0px;
}

.ind_text {
  padding: 25px;
}

.visit_dis {
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
}

.exhibit.text {
  margin: 10px;
  border-bottom: 0px;
}

.individual.text {
  margin: 25px;
  padding: 25px;
  border-bottom: 0px;
}

.individual img {
  max-width: 40%;
}

.ind_exhibit img {
  max-width: 60%;
}

.button {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin: 25px;
}


nav a:link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
  font-size: 150%;
}

nav a:active {
  text-decoration: underline;
}


a:link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

a:active {
  text-decoration: underline;
}
