header {
  height: 10%;
  width: 100%;
  background-color: #172815;
  text-align: center;
  color: white;
}

nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 0;
    background-color: #3E5622;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 5px;
};

nav.a {
  padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 25px;
   color: white;
   display: block;
}

nav.admin p {
  color: white;
}

a:link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    font-size: 150%;
}

a:active {
    text-decoration: underline;
}

body {
  background-color: #172815;

}

.main {
  background-color: #709255;
  text-align: left;
  min-width: 500px;
  position:absolute;
  top: 15%;
  left:160px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;
  font-family: Palatino;
  padding: 25px;
  /* display: flex; */
}

.visit_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.exhibit_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
      overflow-x: auto;
      max-width: 100%;

}

.visit {
  width: 40%;
  padding: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin: 5px;
}

.exhibit {
  width: 40%;
  padding: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin: 5px;
  border-style: dashed; black;
display: grid;
}

.visit a:link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.visit a:visited {
    text-decoration: none;
    color: white;
}

.visit a:hover {
    text-decoration: underline;
    color: blue;

}

.visit a:active {
    text-decoration: underline;
}

.exhibit.text {
border-bottom: 0px;
}

.exhibit a:link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.exhibit a:visited {
    text-decoration: none;
    color: white;
}

.exhibit a:hover {
    text-decoration: underline;
    color: blue;

}

.exhibit a:active {
    text-decoration: underline;
}

img {
  max-width: 100%;

}
