<style>
nav.public {
  display: none;
}
</style>

<br></br>
<form method="post" action="/admin/types/<%=@type.id%>">
  <label for="type">Type:</label>
  <input id="type" type="text" name="type" value="<%=@type.type%>">

<input type="submit" value="Edit Details"/>
</form>
