<style>
nav.admin {
  display: none;
}
</style>

<h1>Types</h1>

<div class="text">

<table>
  <tr>
    <th>Types</th>
    <th></th>
    <th>Exhibit Count</th>
  </tr>

  <% for type in @types %>
  <tr>
    <td><%= type.type%></td>
    <td>|</td>
    <td><a href="/exhibits/type/<%= type.id %>"><%= type.exhibits.count%></td>
  </tr>
  <%end%>

</table>
</div>
